.acordion {
  margin-top: 169px;
}
.acordion-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.acordion-title {
  font-family: "DINComp";
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
}
.colapse-img {
  width: 40px;
  height: 40px;
  border: 1px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acordion-content {
  margin-top: 32px;
}
.acordion-content p {
  color: #bec0c8;
  line-height: 24px;
  border-top: 1px solid #454b61;
  padding: 32px 0;
}
.acordion-content:first-child {
  margin-top: 32px;
}
.acordion-content:last-child {
  border-bottom: 1px solid #454b61;
}
