.homepage {
  /* background-size: cover; */

  /* background-size: contain; */
}
.section-one {
  background-image: url(../assets/img/homebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.section-one-container {
  min-height: 900px;
  position: relative;
  color: white;
  display: flex;
  /* height: calc(100vh - 78px); */
  max-width: 1280px;
  padding: 0 7%;
  margin: 0 auto;
  min-height: 900px; /* 716px */
  flex-direction: column;
  justify-content: center;
}

.section-one__title {
  margin-top: 259px;
  font-family: "DINComp";
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  max-width: 556px;

  /* max-width: 366px;  332px to media */
  text-transform: uppercase;
  overflow-wrap: break-word;
}
.section-one__title span {
  font-family: "DINComp-light";
  font-weight: 350;
}
.section-one__subtitle {
  margin-top: 32px;
  font-size: 16px;
  line-height: 24px;
  max-width: 522px;
  /* max-width: 307px;  to media */
  color: #bec0c8;
}
.section-one button {
  margin-top: 32px;
}

@media screen and (max-width: 431px) {
  .homepage {
    background-image: url(../assets/img/mobileback.png);
    height: 926px;
  }
  .section-one__title {
    max-width: 332px;
  }
  .section-one__subtitle {
    max-width: 307px;
  }
}
