.navbar {
  font-family: "DINComp";
  font-weight: 500;
  font-size: 12px;
  /* min-height: 56px; */
}
.navbar-container {
  padding-top: 72px;
  /* height: 56px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.nav-logo {
  /* margin-left: 50px; */
  cursor: pointer;
}
.nav-menu {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  gap: 40px;
  /* margin-right: 40px; */
  flex: 1;
  align-items: center;
}
.nav-item {
  /* height: 16px; */
  /* border-bottom: 2px solid transparent; */
  /* padding: 0.5rem 1rem; */
}
/* .nav-item:hover {
} */
.nav-links:hover {
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-button {
  font-family: "DINComp";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: white;
  width: 184px;
  height: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
  background-color: transparent;
  border: 1.5px solid #ff0000;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.nav-button:hover {
  background-color: #ff0000;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    background-color: #95a5a6;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    top: 80px;
    left: -100%;
    height: calc(100% - 80px);
    color: #9b59b6;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    left: 0;
    transition: all 1s ease;
  }
  .nav-item {
    width: 100%;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 25px;
    font-size: 2rem;
  }
}
