.presentation-section-two {
  background-image: url(../assets/img/presentation/twoback.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 960px;
  position: relative;
}
.presentation-section-two-container {
  position: relative;
}
.pst-info-container {
  min-height: 960px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  bottom: 237px;
}
.pst-info-title {
  font-family: "DINComp";
  font-weight: 500;
  color: #16191c;
  font-size: 52px;
  line-height: 52px;
  max-width: 665px;
  text-transform: uppercase;
  padding: 0 32px;
  text-align: right;
  border-right: 2px solid #ff0000;
}

@media screen and (max-width: 431px) {
  .presentation-section-two {
    background-image: url(../assets/img/presentation/twomobileback.png);
  }
  .pst-info-title {
    font-size: 32px;
    line-height: 36px;
    max-width: 358px;
  }
  .pst-info-container {
    bottom: 165px;
  }
}
