* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DINComp";
  src: url(./assets/fonts/DIN-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Google sans";
  src: url(./assets/fonts/ProductSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "google sans";
  src: url(./assets/fonts/ProductSans-Medium.ttf);
  font-weight: 500;
}

body {
  margin: 0;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Google sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
}
